#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 767px) {
  .App {
    flex-direction: column;
    gap: 100px;
  }
}
